#headermenus{
    background-color: black;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    position: relative;
    color:white;
}


#headerimage {
    background-color: rgb(159, 188, 46, 255);
    margin-top: 20px;
    padding: 50px 0;
    position: relative;
    text-align: center;
  }
  
  #spanheader {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 0 30px;
    margin: 0;
  }







