<div id="Gallery">
<span> Gallery </span>
</div>
<div id="footer" *ngFor="let color of footercolor" [style.backgroundColor]="color">
    <span  [style.color]="'white'">Gallery Image</span> 
</div>
<div id="footerdown" [style.height]="'25px'" style="overflow: hidden;">
<h4 [style.textAlign]="'left'" [style.color]="'white'"  class="bottom-left">copy right 2018 vision design graphic - 200</h4>
<h4 [style.textAlign]="'right'" class="bottom-right"  [style.color]="'Green'">Design and coding by Resonsee Team</h4>
</div>
