#footer{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 40px;
    width:375px;
    float: left;
}



#Gallery{
    padding-top: 20px;
    text-align: center;
    margin-top: 5px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    font-size: 24px;    
}

#footerdown{
    padding:20px;
   margin-top: 140px;
    background-color: black;
    width: 97%;
    position: absolute;
    display: flex;
}


.bottom-right{
    position:fixed;
    right:20px;

}

.bottom-left{
    position:fixed;
    left:20px;

}
